[Unit]
Description=Modbus UMG804 simulator
After=multi-user.target

[Service]
#Type=forking
User=simulator
Require=network.target
Restart=on-failure
RestartSec=30s
StartLimitInterval=500

ExecStart=/home/simulator/umg804/umg804.py
StandardOutput=append:/home/simulator/umg804/run.log
StandardError=append:/home/simulator/umg804/runError.log

[Install]
WantedBy=multi-user.target
